@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-900
}

html {
    @apply scroll-smooth 

}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background-color: #171717;
}
  
::-webkit-scrollbar-thumb {
    background-color: #ff5b00;
    border-radius: 10px;
}






